<div class="section">
  <div class="row">
    <div class="col s9">
      <a href="<%= checkout_page_path %>" class="waves-effect btn proceed-checkout-btn <% if @cart_items['cart_items'].length < 1 %>disabled<% end %>">Proceed to Checkout</a>
    </div>
  </div>
  <div class="row">
    <div class="col s9">
      <% @cart_items['cart_items'].each do | cart_item | %>
        <div class="card horizontal hoverable" id="divCartItemCard-<%= cart_item['cart_id'] %>">
          <div class="card-image">
            <img style="height: 225px; width: 225px;" src="http://<%= @host_ip %>:8888/assets/<%= cart_item['product']['product_id'] %>.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content valign-wrapper">
              <div class="row valign-wrapper" style="width: 100%">
                <div class="col s6 center-align cart-product-title-holder">
                  <div class="cart-product-title"><%= cart_item['product']['product_name'] %></div>
                  <div class="cart-product-price">Price: <%= cart_item['product']['price'] %></div>
                </div>
                <div class="col s4 center-align">
                  <a class="waves-effect btn <% if cart_item['quantity'] <= 1 %>disabled<% end %>" id="aSubQuantity-<%= cart_item['cart_id'] %>" onclick="MERCATO.Cart.changeProductQuantity(this, false)">-</a>
                  <span style="padding: 0 13px" id="spQuantity-<%= cart_item['cart_id'] %>"><%= cart_item['quantity'] %></span>
                  <a class="waves-effect btn" id="aAddQuantity-<%= cart_item['cart_id'] %>" onclick="MERCATO.Cart.changeProductQuantity(this, true)">+</a>
                </div>
                <div id="divCartItemPrice-<%= cart_item['cart_id'] %>" class="col s2 center-align">
                  $<%= (cart_item['product']['price'] * cart_item['quantity']).round(2) %>
                </div>
              </div>
            </div>
            <div class="card-action">
              <span class="left">
                <input type="checkbox" checked="checked" class="subscribe-check filled-in" id="cart_id-<%= cart_item['cart_id'] %>" name="subscribe" onclick="MERCATO.Cart.onSubscribeCheckBoxClicked()"/>
                <label for="cart_id-<%= cart_item['cart_id'] %>">Subscribe</label>
              </span>
              <a onclick="MERCATO.Cart.removeProductFromCart(this)" id="aRemoveCartItem-<%= cart_item['cart_id'] %>" class="right" href="#" style="color: #2196f3">Remove</a>
            </div>
            <div id="divProgressBar-<%= cart_item['cart_id'] %>" class="progress" style="margin: 0; display: none">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col s3">
      <div class="card-panel hoverable">
        <div class="section" style="font-weight: bold; font-size: large;">
          <span>PRICE DETAILS</span>
        </div>
        <div class="divider"></div>
        <div class="section">
          <div class="row">
            <div class="col s8" id="divTotalPriceTitle">Price (<%= @cart_items['count'] %> item<% if @cart_items['count'] > 1 %>s<% end %>)</div>
            <div class="col s4" id="divTotalCartPrice">$<%= (@cart_items['price_details']['total_price']).round(2) %></div>
          </div>
          <div class="row">
            <div class="col s8">Discounts Applied</div>
            <div class="col s4" id="divTotalCartDiscounts">$<%= (@cart_items['price_details']['discounts']).round(2) %></div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="section">
          <div class="row">
            <div class="col s8" style="font-weight: bold;">Amount Payable</div>
            <div class="col s4" id="divAmountPayable">$<%= (@cart_items['price_details']['amount_payable']).round(2) %></div>
          </div>
          <div class="row">
            <div class="col s2" style="margin-top: 19px">
              <a><i style="cursor: default" class="material-icons">info</i></a>
            </div>
            <div class="col s10">
              Taxes may be applicable based on shipping address during checkout
            </div>
          </div>
        </div>
      </div>
      <a onclick="MERCATO.Cart.onSubscribeClicked()" id="aSubscribeBtn" class="waves-effect btn proceed-checkout-btn <% if @cart_items['cart_items'].length < 1 %>disabled<% end %>">SUBSCRIBE</a>
    </div>
  </div>
  <div class="row">
    <div class="col s9">
      <a href="<%= checkout_page_path %>" class="waves-effect btn proceed-checkout-btn <% if @cart_items['cart_items'].length < 1 %>disabled<% end %>">Proceed to Checkout</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#aCartBtn").removeClass("pulse");
    MERCATO.Cart.CartItems = <%= @cart_items.to_json.html_safe %>;
  });
</script>