<table class="highlight">
  <thead>
  <tr>
    <th data-field="id">Product ID</th>
    <th data-field="name">Product Name</th>
    <th data-field="price">Product Price</th>
    <th data-field="quantity">Quantity</th>
    <th data-field="description">Description</th>
    <th data-field="edit">Edit</th>
    <th data-field="delete">Delete</th>
  </tr>
  </thead>

  <tbody>
   <% products['products'].each_with_index do |product, index| %>
      <tr id="trProductRow-<%= index %>">
        <td id="tdProductId-<%= index %>"><%= product['product_id'] %></td>
        <td id="tdProductName-<%= index %>"><%= product['product_name'] %></td>
        <td id="tdProductPrice-<%= index %>"><%= product['price'] %></td>
        <td id="tdQuantity-<%= index %>"><%= product['quantity'] %></td>
        <td id="tdDescription-<%= index %>"><%= product['description'] %></td>
        <td id="tdEditProduct-<%= index %>"><a href="<%= edit_product_form_path(:product_id => product['product_id']) %>"><i class="material-icons">mode_edit</i></a></td>
        <td id="tdDeleteProduct-<%= index %>"><a onclick="MERCATO.Admin.AllProducts.openDeleteModal(this)"><i class="material-icons">delete</i></a></td>
      </tr>
   <% end %>
  </tbody>
</table>