<%= render :partial=> 'side_nav' %>

<div class="admin-panel-container">
  <div class="section">
    <div class="form">
      <h3>Add Product</h3>

      <%= form_for @product, method: :put, url: "/admin/product/#{@product.product_id}.json", html: {id: 'formEditProduct'}, remote: true do |f| %>
          <div class='row'>
            <div class="col s12" id="divEditProductErrorMessage" style="color: red">
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <%= f.select :category_prefix, options_for_select(@categories, f.object.category_prefix) %>
              <label for="category_prefix">Product Category</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <%= f.text_field :product_name, class: 'validate' %>
              <label for='product_name'>Product Name</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <%= f.text_field :product_description, class: 'validate' %>
              <label for='product_description'>Product Description</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <%= f.number_field :quantity, class: 'validate text_field' %>
              <label for='quantity'>Quantity</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <%= f.number_field :price, class: 'validate text_field', step: :any %>
              <label for='price'>Price</label>
            </div>
          </div>
          <br />
          <div style="text-align: center;">
            <div class='row'>
              <button type='submit' name='commit' class='edit-form-btn col s12 btn btn-large waves-effect'>Update Product</button>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        $('#formEditProduct').bind("ajax:success", function(data, status, xhr)
        {
            console.log("Update Product success!");
            $("#divEditProductErrorMessage").html("");
            MERCATO.Utils.showToastMessage("Product updated successfully", "SUCCESS");
            window.setTimeout( function(){
                window.location = "/admin/product/all";
            }, 1000 );
        })
            .bind("ajax:error", function(xhr, status, error)
            {
                console.log("Add product failed");
                console.log(status);
                $("#divEditProductErrorMessage").html(status['responseText']);
                MERCATO.Utils.showToastMessage('Exception "' + status["responseText"] + '" occurred while trying to update product!', "ERROR");
            });
    });
</script>