<div class="section">
  <div class="form">
      <h3>Edit Profile</h3>

      <%= form_for @user, url: '/users/edit.json', html: {id: 'formEditProfile'}, remote: true do |f| %>
        <div class='row'>
          <div class="col s12" id="divUpdateErrorMessage" style="color: red">
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <%= f.text_field :first_name, class: 'validate' %>
            <label for='session_first_name'>First name</label>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <%= f.text_field :last_name, class: 'validate' %>
            <label for='session_last_name'>Last name</label>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <%= f.email_field :email_id, class: 'validate' %>
            <label for='session_email_id'>Email ID</label>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <%= f.password_field :password, class: 'validate' %>
            <label for='session_password'>Password</label>
          </div>
        </div>
        <br />
        <div style="text-align: center;">
          <div class='row'>
            <button type='submit' name='commit' class='edit-form-btn col s12 btn btn-large waves-effect'>Update</button>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="divider"></div>
<div class="section">
  <h3>Address Book</h3>
  <div class="row">
    <% @user_data['addresses'].each do |address| %>
    <div class="col s6 m4" id="divAddressCard-<%= address['address_id'] %>">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <ul>
            <li>
              <h5 class=""><%= address['name'] %></h5>
            </li>
            <li>
              <h6><%= address['street'] %></h6>
            </li>
            <li>
              <h6><%= address['city'] %>, <%= address['tax_details']['state'] %> <%= address['zipcode'] %></h6>
            </li>
            <li>
              <h6><%= address['country'] %></h6>
            </li>
            <li>
              <h6>Phone: <%= address['phone'] %></h6>
            </li>
          </ul>
        </div>
        <div class="card-action">
          <a id="aEditAddress-<%= address['address_id'] %>" onclick="MERCATO.Customer.EditProfile.editAddress(this)">Edit</a>
          <a id="aDeleteAddress-<%= address['address_id'] %>" onclick="MERCATO.Customer.EditProfile.deleteAddress(this)">Delete</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div style="text-align: center;">
    <div class='row edit-form-btn'>
      <button name='addAddress' class='edit-form-btn col s12 btn btn-large waves-effect' onclick="window.location='/users/address'">Add address</button>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <h3>Cards</h3>
  <div class="row">
    <% @user_data['card_details'].each do |card| %>
    <div class="col s6 m4" id="divCardDetailCard-<%= card['card_number'] %>">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= card['card_number'][0..3] %>-XXXX-XXXX-<%= card['card_number'][12..15] %></span>
          <p>
            <%= card['name_on_card'] %>
          </p>
          <p>
            <%= card['expiry_date'] %>
          </p>
        </div>
        <div class="card-action">
          <a id="aEditCardDetail-<%= card['card_number'] %>" onclick="MERCATO.Customer.EditProfile.editCardDetail(this)">Edit</a>
          <a id="aDeleteCardDetail-<%= card['card_number'] %>" onclick="MERCATO.Customer.EditProfile.deleteCardDetail(this)">Delete</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div style="text-align: center;">
    <div class='row edit-form-btn'>
      <button name='addCard' class='col s12 btn btn-large waves-effect'>Add Card</button>
    </div>
  </div>
</div>
