<div class="section">
  <ul id="ulOrdersCollapsible" class="collapsible popout" data-collapsible="accordion">
    <% @subscriptions['subscriptions'].each do |subscription| %>
      <li id="subscriptionRow-<%= subscription['subscription_id'] %>">
        <div class="collapsible-header" id="divOrderCollapsibleHeader-<%= subscription['subscription_id'] %>">
          <span class="left"><%= subscription['product']['product_name'] %></span>
          <span class="right"><%= subscription['status'] %></span>
        </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s12">
              <table class="highlight">
                <thead>
                <tr>
                  <th style="text-align: left" data-field="name">Product Name</th>
                  <th style="text-align: center" data-field="quantity">Quantity</th>
                  <th style="text-align: center" data-field="frequency">Frequency</th>
                  <th style="text-align: center" data-field="duedate">Next Due Date</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td style="text-align: left" id="tdProductName-<%= subscription['subscription_id'] %>"><%= subscription['product']['product_name'] %></td>
                  <td style="text-align: center" id="tdQuantity-<%= subscription['subscription_id'] %>"><%= subscription['quantity'] %></td>
                  <td style="text-align: center" id="tdFrequency-<%= subscription['subscription_id'] %>"><%= subscription['frequency_in_days'] %></td>
                  <td style="text-align: center" id="tdNextDueDate-<%= subscription['subscription_id'] %>"><%= subscription['next_due_date'] %></td>
                  <td>
                    <a id="btnUnsubscribe-<%= subscription['subscription_id'] %>" onclick="MERCATO.Subscription.onUnsubscribeClicked(this)">
                      <i class="material-icons">
                        delete
                      </i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <a id="tdSkipDueDate-<%= subscription['subscription_id'] %>" class='waves-effect waves-light btn' onclick="MERCATO.Customer.Subscriptions.skipDueDate(this)">
              Skip Next Delivery
            </a>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
