<div class="form">
    <h1>Sign up</h1>
    <div class="errors" id="divNewUserErrorMessage" style="color: red"></div>
    <%= form_for @user, remote: true do |f| %>
      <%= f.text_field :first_name, :placeholder => "First name" %>
      <%= f.text_field :last_name, :placeholder => "Last name" %>
      <%= f.email_field :email_id, :placeholder => "Email" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.submit "Create an account", class: "btn-submit" %>
    <% end %>
</div>

