<div class="section">
  <ul id="ulOrdersCollapsible" class="collapsible popout" data-collapsible="accordion">
    <% @orders['orders'].each do |order| %>
      <li>
        <div class="collapsible-header" id="divOrderCollapsibleHeader-<%= order['order_id'] %>">
          <span class="left">Order <%= order['order_id'] %></span>
          <span class="right">Ordered on <%= order['created_at'].split('T')[0] %></span>
        </div>
        <div class="collapsible-body">
          <ul id="ulShipmentsCollapsible-<%= order['order_id'] %>" class="collapsible popout" data-collapsible="accordion">
            <% order['shipments'].each do |shipment| %>
              <li>
                <div class="collapsible-header" id="divShipmentCollapsibleHeader-<%= shipment['shipment_id'] %>">
                  <span class="left">Shipment <%= shipment['shipment_id'] %></span>
                  <span class="right"><%= shipment['status'] %></span>
                </div>
                <div class="collapsible-body">
                  <table class="highlight">
                    <thead>
                    <tr>
                      <th data-field="name">Product Name</th>
                      <th data-field="quantity">Quantity</th>
                      <th data-field="delete">Status</th>
                      <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <% shipment['order_details'].each do |order_detail| %>
                        <tr id="trOrderDetailRow-<%= order_detail['order_detail_id'] %>">
                          <td id="tdProductName-<%= order_detail['order_detail_id'] %>"><%= order_detail['product']['product_name'] %></td>
                          <td id="tdQuantity-<%= order_detail['order_detail_id'] %>"><%= order_detail['quantity'] %></td>
                          <td id="tdStatus-<%= order_detail['order_detail_id'] %>"><%= order_detail['order_detail_status'] %></td>
                          <% if order_detail['order_detail_status'] === 'INVOICED' %>
                            <td id="tdReturnProduct-<%= order_detail['order_detail_id'] %>"><a onclick="">Return Product</a></td>
                          <% end %>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>