<table class="highlight">
  <thead>
  <tr>
    <th data-field="id">Product ID</th>
    <th data-field="name">Product Name</th>

  </tr>
  </thead>

  <tbody>
   <% products['products'].each_with_index do |product, index| %>
      <tr id="trProductRow-<%= index %>">
        <td id="tdProductId-<%= index %>"><a href= "localhost:3000/api/product/<%= product['product_id']%>"><%= product['product_id'] %></a></td>
        <td id="tdProductName-<%= index %>"><%= product['product_name'] %></td>
      </tr>
   <% end %>
  </tbody>
</table>