<script>
$(document).ready(function(){
    productPrice = <%= @product['price'] %>;
    productQuantity = <%= @product['quantity'] %>;
    availability();
    });
</script>


<div class="admin-panel-container">
<div class="section" id="divHeaderSection">
<div class="row">
      <div class="col s12" id="divProductTableHeading"><%= @product['product_name']%></div>

      <div class="col s4" style="padding:50px" >
                     <img src="http://localhost:8888/assets/<%= @product['product_id']%>.jpg">
      </div>

      <div class="col s5" style="padding:50px">
                            <div>
                          <div class="cart-product-price">Description: <%= @product['product_description']%></div>

                          <div class="cart-product-price">Price: <%= @product['price']%></div>
                          <div id="availabilityDiv" > <%= @product['quantity'] %> </div>
                          </div>
      </div>
      <div class="col s3" style="border:thin solid darkgrey; padding:50px">
                <div class="cart-product-price" style="padding:30px">Quantity:<select id="prdQty" onchange="quantityChange(this)">
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                                  <option value="6">6</option>
                                                  <option value="7">7</option>
                                                  <option value="8">8</option>
                                                  <option value="9">9</option>

                                                </select>

                </div>

                <div id="totalPriceDiv" style="padding:50px"> Total price: <%= @product['price'] %> </div>

                <center><button class="waves-effect waves-light btn" id="addToCartButton-<%=@product['product_id']%>" onclick="addProductToCart(this)"> Add to Cart </button></center>
     </div>

  </div>
 </div>
 </div>